{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">Ingredients</h1>

    <form method="GET" action="{% url 'core:ingredient-list' %}" class="form-inline mb-3">
      <div class="form-group">
        <label for="ingredient-query" class="sr-only">Search ingredients</label>
        <input type="text" id="ingredient-query" name="query" value="{{ request.GET.query }}" class="form-control"
               placeholder="Search ingredients...">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>


    {% if user.is_authenticated %}
      <div class="mb-3">
        <a href="{% url 'core:ingredient-create' %}" class="btn btn-success btn-sm">
          ➕ Add a new ingredient
        </a>
      </div>
    {% endif %}

    {% if ingredient_list %}
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th class="text-center" style="width: 200px;">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredient_list %}
          <tr>
            <td>
              <a href="{% url 'core:ingredient-detail' ingredient.id %}">
                {{ ingredient.name }}
              </a>
            </td>
            {% if user.is_authenticated %}
              <td class="text-center">
                <a href="{% url 'core:ingredient-update' ingredient.id %}" class="btn btn-primary btn-sm">✏️ Edit</a>
                <a href="{% url 'core:ingredient-delete' ingredient.id %}" class="btn btn-danger btn-sm">🗑️ Delete</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No ingredients found.</p>
    {% endif %}

    {% include 'includes/pagination.html' %}
  </div>
{% endblock %}
