<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li class="mt-3">
      <a href="{% url 'authentication:profile' %}" class="btn btn-outline-secondary btn-sm btn-block">My Profile</a>
    </li>
    <li class="mt-2">
      <form method="post" action="{% url 'authentication:logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Logout</button>
      </form>
    </li>
  {% endif %}
  <br>
  <li>
    <a href="{% url 'core:index' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'core:cook-list' %}">All cooks</a>
  </li>
  <li>
    <a href="{% url 'core:dish-list' %}">All dishes</a>
  </li>
  <li>
    <a href="{% url 'core:dish-type-list' %}">All dish types</a>
  </li>
  <li>
    <a href="{% url 'core:ingredient-list' %}">All ingredients</a>
  </li>

</ul>
